
#content {
    padding-left: 40px;
}




#back {
    font-size: 1.5rem;
}


#content p {
    font-size: 1.5rem;
}


#photo img {
    max-width: 280px;
    max-height: 370px;
}

#photo2 img {
    max-width: 280px;
    max-height: 370px;
}
